/** global **/

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin: 0 auto;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

img {
  display: block;
  padding-bottom: 32px;
}

.two {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 120px 0 72px 0;
  justify-content: center;
}

.three {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: #2e2f42;
  padding-bottom: 8px;
}

.container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 15px 0 15px;
}

/** header **/

.header {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.navigatoin {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 332px;
}

.web {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-right: 76px;
}

.menu {
  display: inline-flex;
  align-items: flex-start;
}

.menu li:last-child {
  margin-right: 0px;
}

.punkt {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: flex;
  margin-right: 40px;
  padding: 24px 0;
}

.contact_block {
  font-style: normal;
  display: inline-flex;
  gap: 40px;
  align-items: center;
}

.contact_block:last-child {
  margin-right: 0px;
}
.contact {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 40px;
}

.web:hover,
.web:focus,
.punkt:focus,
.punkt:hover,
.contact:hover,
.contact:focus {
  color: #404bbf;
}

/** - main - preview - **/

.preview {
  background: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  justify-content: center;
  height: 600px;
  flex-shrink: 0;
}

.glav-block {
  padding-top: 188px;
  display: block;
}

.glav-block button {
  margin-top: 48px;
}

.glav {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  width: 496px;
  text-align: center;
}

.button {
  font-size: 16px;
  font-weight: 500;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0 auto;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/** - main - inform - **/

.inform {
  background: #fff;
  height: 104px;
  margin: 120px 0;
}

.inform-list {
  display: flex;
  margin-left: 156px;
  margin-right: 156px;
}

.inform-list li {
  display: block;
  width: 264px;
  gap: 8px;
  padding: 0 12px 0 12px;
}

.none {
  visibility: hidden;
  margin: 0;
}

.inform-p {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  gap: 8px;
  padding-bottom: 32px;
}

/** - main - team -**/

.team {
  background-color: #f4f4fd;
  height: 732px;
  flex-shrink: 0;
  display: block;
}

.team-list {
  align-items: center;
  justify-content: center;
  height: 264px;
  display: flex;
  flex-direction: row;
  padding-top: 72px;
  margin: 0 156px 0 156px;
}
.team-li {
  background: var(--WHITE, #fff);
  width: 264px;
  height: 380px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  margin: 0 24px 0 24px;
}

/** - main - portfolio -**/

.portfolio {
  padding-bottom: 120px;
}

.portfolio .container {
  height: 1000px;
  display: block;
  flex-shrink: 0;
}
.portfolio-card-list {
  margin: 0 156px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  display: flex;
  height: 420px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-text {
  padding: 0px 16px;
}

/** - footer - **/

.footer .container {
  display: inline-flex;
  padding: 101.5px 0 100px 0;
  margin-left: 156px;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.with {
  color: var(--CLOUD, #f4f4fd);
}

.footer {
  height: 312px;
  flex-shrink: 0;
  margin-top: 120px;
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--CLOUD, #f4f4fd);
}

.p-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-top: 17.5px;
}
